{% extends "base.html" %}
{% block content %}
	<h1>Joku pokemon</h1>

	<ul>
		<li><strong>CP: </strong>567</li>
		<li><strong>EV: </strong>2</li>
		<li><strong>Lisäyspäivä: </strong>15.9.2016</li>
		<ul>
			<li><strong>Candy: </strong>hedelmä</li>
			<li><strong>HitPoints: </strong>44</li>
			<li><strong>Tyyppi: </strong>Vesi</li>
			<li><strong>Paino: </strong>20</li>
			<li><strong>Pituus: </strong>57</li>
			<li><strong>Taistelutapa: </strong>Sähkö</li>
		</ul>
		<li><strong>Löytöaika: </strong>12.9.2016 klo 23.34</li>
		<li><strong>Löytöpaikka: </strong>Helsinki, Sörnäinen, joku mesta</li>
	</ul>
{% endblock %}