{% extends "base.html" %}
{% block content %}
	<h1>Muokkaa hirviötä Joku pokemon</h1>

	<form>
		<div class="form-group">
			<label>Nimi</label>
			<input type="text" class="form-control" value="Joku pokemon">
		</div>
		<div class="form-group">
			<label>CP</label>
			<input type="text" class="form-control" value="567">
		</div>
		<div class="form-group">
			<label>EV</label>
			<input type="text" class="form-control" value="2">
		</div>
		<div class="form-group">
			<label>Lisäyspäivä</label>
			<input type="text" class="form-control" value="15.9.2016">
		</div>
		<div class="form-group">
			<label>Candy</label>
			<input type="text" class="form-control" value="hedelmä">
		</div>
		<div class="form-group">
			<label>HitPoints</label>
			<input type="text" class="form-control" value="44">
		</div>
		<div class="form-group">
			<label>Tyyppi</label>
			<input type="text" class="form-control" value="Vesi">
		</div>
		<div class="form-group">
			<label>Paino</label>
			<input type="text" class="form-control" value="20">
		</div>
		<div class="form-group">
			<label>Pituus</label>
			<input type="text" class="form-control" value="57">
		</div>
		<div class="form-group">
			<label>TaisteluTapa</label>
			<input type="text" class="form-control" value="Sähkö">
		</div>
		<div class="form-group">
			<label>Löytöaika</label>
			<input type="text" class="form-control" value="12.9.2016 klo 23.34">
		</div>
		<div class="form-group">
			<label>Löytöpaikka</label>
			<input type="text" class="form-control" value="Helsinki, Sörnäinen, joku mesta">
		</div>
	</form>
{% endblock %}